.geral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}


.titulo {
  background-color: #20232a;
  padding: 0 15px;
}

.titulo a{
  font-weight: bold;
  text-decoration: none;
  color: #61dafb;
}

.titulo a:hover {
  color: #fff;
}


.conteudo {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.conteudo-topo{
  background-color: #282c34;
  padding-bottom: 50px;
}

.conteudo-topo h1 {
  color: #61dafb;
}

.conteudo-topo p{
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.conteudo-topo a{
  text-decoration: none;
  background-color: #61dafb;
  color: #000;
  padding: 10px 20px;
}

.conteudo-topo a:hover{
  background-color: #1e7f9a;
  border: solid 1px white;
  color: #fff;
}


.conteudo-requisitos {
  padding: 30px 10px;
}


.conteudo-principal {
  display: flex;
  justify-content:space-evenly;
  width: 100%;
  margin-top: 80px;
}

.conteudo-dados {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  width: calc((100% /3) - 10px);
  max-width: 300px;
  margin: 5px;
  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 15px 15px 9px rgb(145, 145, 145);
}

.conteudo-dados:hover {
  border: solid white 2px;
}

.conteudo-dados h3 {
  margin: 0 0 10px;
  color: #edc854;
}

.conteudo-dados p {
  margin: 0;
  color:#fff;
}


footer {
  background-color: #cfcccc;
  text-align: center;
}

